/* general settings */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}
/*beginning of body css settings */
body {
    background-color: #ecebe2;
    margin: 0;
}
/*css setting of navbar and h1 tag in header */
header {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    background-color: #95a8ac;
    color: #ecebe2;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 2px solid #223745;
    border-radius: 5px;
  }
h1 {
    text-align: left;
    color: #ecebe2;
    font-size: 50px;
    line-height: 50px;
    margin: 0;
}

nav {
    text-align: right;
    margin-left: 75%;
}

nav ul {
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    font-size: 20px;
    justify-content: space-evenly;
} 
/* end of css for header section */



/* css for side bar of about me */
aside { 
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    margin-top: 25px;
    float:left;
    background-color: #95a8ac;
    border: 2px solid #223745;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
/*beginning of css of main, covers both section and all articles */
main {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: 2%;
}
section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:stretch; 
    justify-content: right;
}

article {
    padding: 40px;
    margin: 0px 50px 50px 50px;
    background-color: #95a8ac;
    flex: 200px;
    text-align: center;
    border: 2px solid #223745;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float: right;
    justify-content: right;
}
/* end of css styling for main */

/* css styling for footer*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    padding: 2%;
    color: #ecebe2;
    background-color: #95a8ac;
    border-top: 2px solid #223745;
    border-radius: 5px;
  }
  /* mdeia query */
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
}